<!--<div class="alertsContainer">
    <div class="alertContainer bg-color-light-secondAccent text-color-light-secondery-light" *ngFor="let alert of alerts" @slideInFromRight>
        <div class="alertContent">
            <div class="iconContainer bg-color-light-primary-light">
                <span class="icon">
                    <fa-icon [icon]="icon(alert.type)"></fa-icon>
                </span>
            </div>
            <div class="msgContainer">
                <p class="msg">{{alert.message}}</p>
            </div>
        </div>
        <p class="progress"></p>
    </div>
</div>-->