@use "sass:map";
@import "./../../style/variables";

:host{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.formTabContainer{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .inputsContainer{
        width: 100%;
        align-items: center;
        margin-block: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .inputContainer{
            width: 95%;
            position: relative;
            .inputBox{
                font-size: 14px;
                border-radius: 6px;
                label{
                    position: relative;
                    padding: 5px 10px;
                    display: block;
                    span.label{
                        cursor: text;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-weight: 500;
                        transition: .4s;
                        text-transform: capitalize;
                        width: 100%;
                    }
                    .clearInput{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        fa-icon{
                            display: flex;
                        }
                    }
                    .containerBtnOfInput{
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-right: 10px;
                        gap: 10px;
                        .clearInput{
                            position: static;
                            transform: translateY(0%);
                        }
                    }
                    input{
                        display: block;
                        width: 100%;
                        font-weight: 500;
                        background-color: transparent;
                        &:focus+span.label,&:not(:placeholder-shown)+span.label{
                            top: 0%;
                            transform: translateY(-100%);
                            font-size: 12px;
                        }
                    }
                }
                
            }
        }
    }
    &.address{
        .inputsContainer{
            &.flex{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .inputContainer{
                    flex: 0 0 100%;
                }
            }
            >.inputContainer{
                width: 100%;
            }
            .inputContainer{
                input[type=number]{
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &[type=number]{
                        appearance: textfield;
                    }
                }
            }
        }
    }
}

@media (min-width: map.get($brakePoints, "small")){
    .formTabContainer{
        .inputsContainer{
            gap: 40px;
            .inputContainer{
                width: 300px;
                }
            }
        
        &.address{
            .inputsContainer{
                gap: 40px;
                &.flex{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    .inputContainer{
                        flex: 0 0 120px;
                        &.city{
                            flex: 1 0 0px;
                        }
                        &.zip{
                            .errorMsg{
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}