@use "sass:map";
@import "./../../style/variables";


:host{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .content{
        box-shadow: 0px 0px 3px 0px #bec0c35c;        
        width: 100%;
        display: flex;
        height: 80%;
        min-height: 450px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        .formsContainer{
            flex: 1 0 0px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            .navigationContainer{
                overflow: hidden;
                height: 100%;
                top: 0;
                display: none;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                position: static;
                .navigationContent{
                    padding: 10px;
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 15px;
                    &.singIn{
                        top: 0;
                        right: 0;
                    }
                    &.singUp{
                        top: 0;
                        left: 0;
                    }
                    .imgContainer{
                        width: 60px;
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        img{
                            width: 70%;
                            display: block;
                        }
                    }
                    .messageContainer{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            text-align: center;
                            &.mainMsg{
                                font-size: 1.1em;
                                font-weight: 500;
                            }
                            &.secondMsg{
                                font-size: .9em;
                            }
                        }
                    }
                }
                .buttonContainer{
                    flex: 0 0 40%;
                    button{
                        width: 85px;
                        font-size: .9em;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        border-radius: 8px;
                        cursor: pointer;
                        text-transform: capitalize;
                        position: relative;
                        z-index: 100;
                    }
                }
            }
        }
        .navigationContainerMobile{
            position: relative;
            height: 50px;
            font-size: .8em;
            .navigationContentContainer{
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                top: 0;
                left: 0;
                height: 100%;
                .buttonContainer{
                    button{
                        display: block;
                        cursor: pointer;
                        span.title{
                            text-transform: capitalize;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: map.get($brakePoints, "medium")){
    .container{
        flex-direction: row;
        .content{
            flex: 0 1 840px;
            min-height: 360px;
            .formsContainer{
                flex: 0 0 100%;
                .navigationContainer{
                    display: flex;
                    width: 35%;
                    position: relative;
                }
            }
            .navigationContainerMobile{
                display: none;
            }
        }
    }
}

@media (min-width: map.get($brakePoints, "large")){
    .container{
        .content{
            .formsContainer{
                .navigationContainer{
                    width: 45%;
                }
            }
        }
    }
}
