<div class="formTabContainer" [formGroup]="group">
    <div class="inputsContainer">
        <div class="inputContainer">
            <div class="inputBox">
                <label for="firstname">
                    <input placeholder="" type="text" class="text-color-light-secondText" name="firstname" id="firstname" formControlName="firstName" required>
                    <span class="label">first name</span>
                    <button class="clearInput text-color-light-secondText" type="button" *ngIf="!getControl('firstName').hasError('required')" (click)="clearControl('firstName')">
                        <span class="icon">
                            <fa-icon [icon]="icon.faXmarkCircle"></fa-icon>
                        </span>
                    </button>
                </label>
                <ng-container *ngIf="getControl('firstName').touched && getControl('firstName').invalid">
                    <app-error-message [errors]="getControl('firstName').errors"></app-error-message>
                </ng-container>
            </div>
        </div>
        <div class="inputContainer">
            <div class="inputBox">
                <label for="lastName">
                    <input placeholder="" type="text" class="text-color-light-secondText" name="lastName" id="lastName" formControlName="lastName" required>
                    <span class="label">last name</span>
                    <button class="clearInput text-color-light-secondText" type="button" *ngIf="!getControl('lastName').hasError('required')" (click)="clearControl('lastName')">
                        <span class="icon">
                            <fa-icon [icon]="icon.faXmarkCircle"></fa-icon>
                        </span>
                    </button>
                </label>
                <ng-container *ngIf="getControl('lastName')?.touched && getControl('lastName').invalid">
                    <app-error-message [errors]="getControl('lastName').errors"></app-error-message>
                </ng-container>
            </div>
        </div>
    </div>
</div>