<div class="formTabContainer" [formGroup]="formGroup">
    <div class="inputsTabFormContainer">
        <div class="inputTabFormContainer">
            <label for="address">
                <div class="inputBoxContainer">
                    <div class="labelContainer">
                        <span class="label text-color-light-text-light">street</span>
                    </div>
                    <div class="inputContainer">
                        <input type="text" id="address" name="address" class="text-color-light-text-light" spellcheck="false" formControlName="address" autocomplete="off">
                        <div class="buttonsContainer" *ngIf="!getFormControl('address').hasError('required')">
                            <div class="buttonContainer">
                                <button type="button" (click)="clearFormControl('address')">
                                    <span class="icon text-color-light-secondText">
                                        <fa-icon [icon]="icon.faXmarkCircle"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <ng-container *ngIf="getFormControl('address').touched && getFormControl('address').invalid">
                            <app-error-message [errors]="getFormControl('address').errors"></app-error-message>
                        </ng-container>
                    </div>
                </div>
            </label>
        </div>
        <div class="inputsTabFormContainer row">
            <div class="inputTabFormContainer">
                <label for="city">
                    <div class="inputBoxContainer">
                        <div class="labelContainer">
                            <span class="label text-color-light-text-light">city</span>
                        </div>
                        <div class="inputContainer">
                            <input type="text" id="city" name="city" class="text-color-light-text-light" spellcheck="false" formControlName="city" autocomplete="off">
                            <div class="buttonsContainer" *ngIf="!getFormControl('city').hasError('required')">
                                <div class="buttonContainer">
                                    <button type="button" (click)="clearFormControl('city')">
                                        <span class="icon text-color-light-secondText">
                                            <fa-icon [icon]="icon.faXmarkCircle"></fa-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <ng-container *ngIf="getFormControl('city').touched && getFormControl('city').invalid">
                                <app-error-message [errors]="getFormControl('city').errors"></app-error-message>
                            </ng-container>
                        </div>
                    </div>
                </label>
            </div>
            <div class="inputTabFormContainer zip">
                <label for="postalCode">
                    <div class="inputBoxContainer">
                        <div class="labelContainer">
                            <span class="label text-color-light-text-light">zip</span>
                        </div>
                        <div class="inputContainer">
                            <input type="text" id="postalCode" name="postalCode" class="text-color-light-text-light" spellcheck="false" formControlName="postalCode" autocomplete="off">
                            <div class="buttonsContainer" *ngIf="!getFormControl('postalCode').hasError('required')">
                                <div class="buttonContainer">
                                    <button type="button" (click)="clearFormControl('postalCode')">
                                        <span class="icon text-color-light-secondText">
                                            <fa-icon [icon]="icon.faXmarkCircle"></fa-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <ng-container *ngIf="getFormControl('postalCode').touched && getFormControl('postalCode').invalid">
                                <app-error-message [errors]="getFormControl('postalCode').errors"></app-error-message>
                            </ng-container>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>