<div class="alertMainContainer" @slideInFromTop *ngIf="alert">
    <div class="alertBox bg-color-light-accent">
        <div class="contentContainer">
            <div class="iconContainer bg-color-light-primary-light">
                <span class="icon">
                    <fa-icon [icon]="icon.faCheck"></fa-icon>
                </span>
            </div>
            <div class="textContainer">
                <p>
                    {{alert.message}}
                </p>
            </div>
        </div>
        <div class="progressContainer">
            <span class="progress bg-color-light-primary-light"  appAddAnimationFullWidth [animationDuration]="alert.time"></span>
        </div>
    </div>
</div>
