<div class="errorContainer">
    <div class="errorCodeContainer">
        <span class="code text-color-light-primary-light">404</span>
    </div>
    <div class="errorContentContainer">
        <div class="textContainer">
            <p>
                <span class="headText text-color-light-secondText">sorry, page not found</span>
                <span class="text text-color-light-text-light">the page you requested cloud not be found</span>
            </p>
        </div>
        <div class="actionsContainer">
            <div class="buttonContainer">
                <button class="bg-color-light-primary-light text-color-light-secondery-light" [routerLink]="'/home'">
                    <span class="title">home</span>
                </button>
            </div>
        </div>
    </div>
    
</div>
