<div class="containerContent">
    <div class="textContainer">
        <p class="msg text-color-light-text-light">
            sorry there, were some techincal issues while processing your request
        </p>
    </div>
    <div class="actionsContainer">
        <div class="buttonContainer">
            <button class="bg-color-light-primary-light text-color-light-secondery-light" [routerLink]="'/home'">
                <span class="title">
                    home
                </span>
            </button>
        </div>
    </div>
</div>
