@use "sass:map";
@import "./../../../style/variables";

.headerTop{
    display: none;
    .container{
        display: flex;
        justify-content: space-between;
        padding-block: 8px;
        font-size: .85em;
        .headerTopContacts{
            display: flex;
            gap: 20px;
            align-items: center;
        }
        a{
            text-transform: capitalize;
            cursor: pointer;
            display: flex;
            align-items:baseline;
            gap: 5px;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }
}
@media (min-width: map.get($brakePoints, "medium")){
    .headerTop{
        display: block;
    }

}