@use "sass:map";
@import "./../../style/variables";

.alertsContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .alertBox{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 14px 20px;
        border-radius: 5px;
        gap: 5px;
    }
}


@media (min-width: map.get($brakePoints, "small")){
    .alertsContainer{
        .alertBox{
            width: 350px;
        }
    }
}